In [3]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("mydatabase.db")  # creates file if not exists
cursor = conn.cursor()


### **Question 1: Explain the fundamental differences between DDL, DML, and DQL commands in SQL. Provide one example for each type of command.**


### **1️⃣ DDL (Data Definition Language)**

* Used to **define or modify the structure of the database** such as creating, altering, or deleting tables.
* It deals with **schema/structure-level operations**.
* Changes made by DDL are **auto-committed** (permanent).

**Examples of DDL commands:** `CREATE`, `ALTER`, `DROP`, `TRUNCATE`.

**Example Query:**

```sql
CREATE TABLE Students (
    id INT,
    name VARCHAR(50),
    age INT
);
```


### **2️⃣ DML (Data Manipulation Language)**

* Used to **insert, modify, or delete data stored inside tables**.
* It deals with **record/data-level operations**.
* Changes are **not auto-committed**; `COMMIT` is needed to save permanently.

**Examples of DML commands:** `INSERT`, `UPDATE`, `DELETE`.

**Example Query:**

```sql
INSERT INTO Students (id, name, age)
VALUES (1, 'Aditi', 20);
```


### **3️⃣ DQL (Data Query Language)**

* Used to **retrieve and view data from database tables**.
* The main objective is **data querying/selection**, not modification.
* Result is shown as a dataset based on user request.

**Example of DQL command:** `SELECT`.

**Example Query:**

```sql
SELECT * FROM Students;
```

---



### **Question 2: What is the purpose of SQL constraints? Name and describe three common types of constraints, providing a simple scenario where each would be useful.**



### **Three Common Types of Constraints:**


### **1️⃣ PRIMARY KEY Constraint**

* Ensures each record in a table is **unique and not NULL**.
* A table can have only **one primary key**, but it can consist of multiple columns (composite key).
* Helps uniquely identify each row.

**Scenario:**
In a `Students` table, `student_id` must be unique for every student.

**Example:**

```sql
CREATE TABLE Students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50)
);
```


### **2️⃣ UNIQUE Constraint**

* Ensures that **no two rows can have the same value** in a column.
* Allows **only one NULL value** (unlike primary key).
* Used where duplication is not allowed, but primary key is not required.

**Scenario:**
Email ID of every user must be different, even if names repeat.

**Example:**

```sql
CREATE TABLE Users (
    user_id INT,
    email VARCHAR(100) UNIQUE
);
```


### **3️⃣ NOT NULL Constraint**

* Prevents a column from storing **NULL (empty) values**.
* Ensures that data must be provided for the column while inserting records.

**Scenario:**
In an employee database, salary field cannot remain empty.

**Example:**

```sql
CREATE TABLE Employees (
    emp_id INT PRIMARY KEY,
    salary INT NOT NULL
);
```



### **Other constraints (for reference):**

* **CHECK** → enforces a condition (e.g., age > 18)
* **FOREIGN KEY** → links two tables
* **DEFAULT** → assigns a value automatically if not provided

---


### **Question 3: Explain the difference between LIMIT and OFFSET clauses in SQL. How would you use them together to retrieve the third page of results, assuming each page has 10 records?**



### **Difference:**

1. **LIMIT**

   * The `LIMIT` clause is used to **restrict the number of rows returned** by a query.
   * It is useful for pagination, showing top records, or reducing output.

   **Example:**

   ```sql
   SELECT * FROM Employees LIMIT 5;
   ```

   *This returns only 5 rows from the result.*



2. **OFFSET**

   * The `OFFSET` clause is used to **skip a specific number of rows** before starting to return data.
   * Often combined with `LIMIT` for pagination.

   **Example:**

   ```sql
   SELECT * FROM Employees OFFSET 5;
   ```

   *This skips the first 5 rows and returns the rest.*


### **Using LIMIT and OFFSET together for pagination**

To get data for any page:

```
OFFSET = (page_number - 1) × records_per_page
```

For **page 3** with **10 records per page**:

```
OFFSET = (3 - 1) × 10 = 20
```


### **Query to fetch page 3 (records 21–30):**

```sql
SELECT *
FROM Employees
LIMIT 10 OFFSET 20;
```

---

### **Question 4 : What is a Common Table Expression (CTE) in SQL, and what are its main benefits? Provide a simple SQL example demonstrating its usage.**

### **What is a CTE?**

A **Common Table Expression (CTE)** is a temporary result set in SQL that is defined using the **WITH** clause.
It exists only for the duration of the query and can be referenced like a table within the main query.

CTEs help break large queries into readable and manageable parts.


### **Main Benefits of CTE:**

1. **Improves Readability**

   * Makes complex queries easier to understand compared to nested subqueries.

2. **Reusability**

   * The same CTE can be referenced multiple times in the main query.

3. **Helps with Recursive Queries**

   * Useful for hierarchical data like employee tree, folders, parent-child relations.

4. **Better for Debugging**

   * Allows step-by-step logical query building.


### **SQL Example**

```sql
WITH HighSalary AS (
    SELECT name, salary
    FROM Employees
    WHERE salary > 50000
)
SELECT *
FROM HighSalary;
```

**Explanation:**

* `HighSalary` is the CTE that selects employees earning above 50,000.
* The main query retrieves data from the CTE as if it were a table.

**Output (example):**

```
name      salary
Rohit     60000
Sneha     75000
```


This shows how CTE helps create a clean, readable query instead of writing subqueries repeatedly.

---

### **Question 5: Describe the concept of SQL Normalization and its primary goals. Briefly explain the first three normal forms (1NF, 2NF, 3NF).**


### **What is SQL Normalization?**

**Normalization** is a process of organizing data in a database to reduce **data redundancy** and improve **data integrity**.
It involves dividing large tables into smaller, well-structured tables and defining relationships between them.


### **Primary Goals of Normalization:**

* To **eliminate duplicate data (redundancy)**
* To **ensure data consistency**
* To **organize data efficiently**
* To **improve query performance**
* To **make database easier to maintain and update**



### **Normal Forms:**


### **1️⃣ First Normal Form (1NF)**

A table is in 1NF if:

* All values are **atomic (no multiple values in one cell)**
* No repeating groups or arrays
* Each column contains a single value

**Example: (Not 1NF)**

| Student | Subjects      |
| ------- | ------------- |
| Aditi   | Math, Physics |

**1NF Conversion:**

| Student | Subject |
| ------- | ------- |
| Aditi   | Math    |
| Aditi   | Physics |



### **2️⃣ Second Normal Form (2NF)**

A table is in 2NF if:

* It is already in **1NF**
* **No partial dependency** exists (i.e., no non-key column should depend on part of a composite key)

**Useful when the table has a composite primary key.**

**Example: (Not 2NF)**
Composite key: (StudentID, CourseID)
Marks depend only on StudentID, not both keys → partial dependency.

**2NF Fix:**
Split into two tables:

`StudentCourse(StudentID, CourseID)`
`StudentMarks(StudentID, Marks)`



### **3️⃣ Third Normal Form (3NF)**

A table is in 3NF if:

* It is already in **2NF**
* No **transitive dependency** (non-key column should not depend on another non-key column)

**Example: (Not 3NF)**

| EmpID | EmpName | DeptID | DeptName |
| ----- | ------- | ------ | -------- |

DeptName depends on DeptID, not on EmpID → transitive dependency.

**3NF Fix:**
Split into two tables:

`Employee(EmpID, EmpName, DeptID)`
`Department(DeptID, DeptName)`

---

In [5]:
'''Question 6  : Question 6 : Create a database named ECommerceDB and perform the following
tasks:'''

import sqlite3
import pandas as pd

# Create/Connect to DB
conn = sqlite3.connect("ECommerceDB.db")
cursor = conn.cursor()


# Categories Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Categories(
    CategoryID INT PRIMARY KEY,
    CategoryName VARCHAR(50) NOT NULL UNIQUE
);
""")

# Products Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Products(
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(100) NOT NULL UNIQUE,
    CategoryID INT,
    Price DECIMAL(10,2) NOT NULL,
    StockQuantity INT,
    FOREIGN KEY(CategoryID) REFERENCES Categories(CategoryID)
);
""")

# Customers Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Customers(
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(100) NOT NULL,
    Email VARCHAR(100) UNIQUE,
    JoinDate DATE
);
""")

# Orders Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Orders(
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE NOT NULL,
    TotalAmount DECIMAL(10,2),
    FOREIGN KEY(CustomerID) REFERENCES Customers(CustomerID)
);
""")

conn.commit()
print("Tables Created Successfully!")


categories_data = [
    (1,'Electronics'),
    (2,'Books'),
    (3,'Home Goods'),
    (4,'Apparel')
]
cursor.executemany("INSERT INTO Categories VALUES (?,?)", categories_data)
conn.commit()

products_data = [
    (101,'Laptop Pro',1,1200.00,50),
    (102,'SQL Handbook',2,45.50,200),
    (103,'Smart Speaker',1,99.99,150),
    (104,'Coffee Maker',3,75.00,80),
    (105,'Novel : The Great SQL',2,25.00,120),
    (106,'Wireless Earbuds',1,150.00,100),
    (107,'Blender X',3,120.00,60),
    (108,'T-Shirt Casual',4,20.00,300)
]
cursor.executemany("INSERT INTO Products VALUES (?,?,?,?,?)", products_data)
conn.commit()


customers_data = [
    (1,'Alice Wonderland','alice@example.com','2023-01-10'),
    (2,'Bob the Builder','bob@example.com','2022-11-25'),
    (3,'Charlie Chaplin','charlie@example.com','2023-03-01'),
    (4,'Diana Prince','diana@example.com','2021-04-26')
]
cursor.executemany("INSERT INTO Customers VALUES (?,?,?,?)", customers_data)
conn.commit()

orders_data = [
    (1001,1,'2023-04-26',1245.50),
    (1002,2,'2023-10-12',99.99),
    (1003,1,'2023-07-01',145.00),
    (1004,3,'2023-01-14',150.00),
    (1005,2,'2023-09-24',120.00),
    (1006,1,'2023-06-19',20.00)
]
cursor.executemany("INSERT INTO Orders VALUES (?,?,?,?)", orders_data)
conn.commit()


def show(table):
    df = pd.read_sql_query(f"SELECT * FROM {table}", conn)
    print(f"\n------ {table} ------")
    display(df)

show("Categories")
show("Products")
show("Customers")
show("Orders")

Tables Created Successfully!

------ Categories ------

   CategoryID CategoryName
0           1  Electronics
1           2        Books
2           3   Home Goods
3           4      Apparel

------ Products ------

   ProductID            ProductName  CategoryID    Price  StockQuantity
0        101             Laptop Pro           1  1200.00             50
1        102           SQL Handbook           2    45.50            200
2        103          Smart Speaker           1    99.99            150
3        104           Coffee Maker           3    75.00             80
4        105  Novel : The Great SQL           2    25.00            120
5        106       Wireless Earbuds           1   150.00            100
6        107              Blender X           3   120.00             60
7        108         T-Shirt Casual           4    20.00            300

------ Customers ------

   CustomerID      CustomerName                Email    JoinDate
0           1  Alice Wonderland    alice@example.com  2023-01-10
1           2   Bob the Builder      bob@example.com  2022-11-25
2           3   Charlie Chaplin  charlie@example.com  2023-03-01
3           4      Diana Prince    diana@example.com  2021-04-26

------ Orders ------

   OrderID  CustomerID   OrderDate  TotalAmount
0     1001           1  2023-04-26      1245.50
1     1002           2  2023-10-12        99.99
2     1003           1  2023-07-01       145.00
3     1004           3  2023-01-14       150.00
4     1005           2  2023-09-24       120.00
5     1006           1  2023-06-19        20.00

---

In [6]:
'''Question 7 : Generate a report showing CustomerName, Email, and the
TotalNumberofOrders for each customer. Include customers who have not placed
any orders, in which case their TotalNumberofOrders should be 0. Order the results
by CustomerName.
'''

query = """
SELECT
    C.CustomerName,
    C.Email,
    COUNT(O.OrderID) AS TotalNumberOfOrders
FROM Customers C
LEFT JOIN Orders O
    ON C.CustomerID = O.CustomerID
GROUP BY C.CustomerID, C.CustomerName, C.Email
ORDER BY C.CustomerName;
"""

df = pd.read_sql_query(query, conn)
df

       CustomerName                Email  TotalNumberOfOrders
0  Alice Wonderland    alice@example.com                    3
1   Bob the Builder      bob@example.com                    2
2   Charlie Chaplin  charlie@example.com                    1
3      Diana Prince    diana@example.com                    0

---

In [7]:
'''Question 8 : Retrieve Product Information with Category: Write a SQL query to
display the ProductName, Price, StockQuantity, and CategoryName for all
products. Order the results by CategoryName and then ProductName alphabetically'''

query = """
SELECT
    P.ProductName,
    P.Price,
    P.StockQuantity,
    C.CategoryName
FROM Products P
JOIN Categories C
    ON P.CategoryID = C.CategoryID
ORDER BY C.CategoryName, P.ProductName;
"""

df = pd.read_sql_query(query, conn)
df

             ProductName    Price  StockQuantity CategoryName
0         T-Shirt Casual    20.00            300      Apparel
1  Novel : The Great SQL    25.00            120        Books
2           SQL Handbook    45.50            200        Books
3             Laptop Pro  1200.00             50  Electronics
4          Smart Speaker    99.99            150  Electronics
5       Wireless Earbuds   150.00            100  Electronics
6              Blender X   120.00             60   Home Goods
7           Coffee Maker    75.00             80   Home Goods

---

In [8]:
'''Question 9 : Write a SQL query that uses a Common Table Expression (CTE) and a
Window Function (specifically ROW_NUMBER() or RANK()) to display the
CategoryName, ProductName, and Price for the top 2 most expensive products in
each CategoryName.
'''

query = """
WITH RankedProducts AS (
    SELECT
        C.CategoryName,
        P.ProductName,
        P.Price,
        ROW_NUMBER() OVER (PARTITION BY C.CategoryID ORDER BY P.Price DESC) AS rn
    FROM Products P
    JOIN Categories C
        ON P.CategoryID = C.CategoryID
)
SELECT CategoryName, ProductName, Price
FROM RankedProducts
WHERE rn <= 2
ORDER BY CategoryName, Price DESC;
"""

df = pd.read_sql_query(query, conn)
df

  CategoryName            ProductName   Price
0      Apparel         T-Shirt Casual    20.0
1        Books           SQL Handbook    45.5
2        Books  Novel : The Great SQL    25.0
3  Electronics             Laptop Pro  1200.0
4  Electronics       Wireless Earbuds   150.0
5   Home Goods              Blender X   120.0
6   Home Goods           Coffee Maker    75.0

---

In [ ]:
'''Question 10 : You are hired as a data analyst by Sakila Video Rentals, a global movie
rental company. The management team is looking to improve decision-making by
analyzing existing customer, rental, and inventory data.
Using the Sakila database, answer the following business questions to support key strategic
initiatives.
Tasks & Questions:
1. Identify the top 5 customers based on the total amount they’ve spent. Include customer
name, email, and total amount spent.
2. Which 3 movie categories have the highest rental counts? Display the category name
and number of times movies from that category were rented.
3. Calculate how many films are available at each store and how many of those have
never been rented.
4. Show the total revenue per month for the year 2023 to analyze business seasonality.
5. Identify customers who have rented more than 10 times in the last 6 months.'''

!apt-get update
!apt-get install -y mysql-server wget unzip
!pip install mysql-connector-python
!pip install sqlite-utils

!wget https://downloads.mysql.com/docs/sakila-db.tar.gz
!tar -xvf sakila-db.tar.gz
!service mysql start

!mysql -e "CREATE DATABASE sakila;"

!mysql sakila < sakila-db/sakila-schema.sql
!mysql sakila < sakila-db/sakila-data.sql

print("MySQL Sakila Imported Successfully!")
!mysqldump sakila > sakila.sql
!sqlite3 sakila.db ".read sakila.sql"
print("SQLite sakila.db Created Successfully!")

import sqlite3, pandas as pd
conn = sqlite3.connect("sakila.db")

print("Connected to SQLite Sakila!")
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)


#Task 1

pd.read_sql_query("""
SELECT
    c.first_name || ' ' || c.last_name AS CustomerName,
    c.email,
    SUM(p.amount) AS TotalSpent
FROM customer c
JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY TotalSpent DESC
LIMIT 5;
""", conn)

#Task 2

pd.read_sql_query("""
SELECT cat.name AS CategoryName, COUNT(r.rental_id) AS RentalCount
FROM rental r
JOIN inventory i ON r.inventory_id=i.inventory_id
JOIN film_category fc ON i.film_id=fc.film_id
JOIN category cat ON fc.category_id=cat.category_id
GROUP BY cat.category_id
ORDER BY RentalCount DESC
LIMIT 3;
""", conn)

#Task 3

pd.read_sql_query("""
SELECT s.store_id,
       COUNT(i.inventory_id) AS TotalFilms,
       SUM(CASE WHEN r.rental_id IS NULL THEN 1 ELSE 0 END) AS NeverRented
FROM store s
JOIN inventory i ON s.store_id=i.store_id
LEFT JOIN rental r ON i.inventory_id=r.inventory_id
GROUP BY s.store_id;
""", conn)

# Task 4

pd.read_sql_query("""
SELECT strftime('%Y-%m',payment_date) AS Month,
       SUM(amount) AS TotalRevenue
FROM payment
WHERE strftime('%Y',payment_date)='2023'
GROUP BY strftime('%Y-%m',payment_date)
ORDER BY Month;
""", conn)

#Task 5

pd.read_sql_query("""
SELECT c.first_name || ' ' || c.last_name AS CustomerName,
       COUNT(r.rental_id) AS RentalCount
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
WHERE r.rental_date >= date('now','-6 months')
GROUP BY c.customer_id
HAVING RentalCount > 10
ORDER BY RentalCount DESC;
""", conn)